* {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px;
  margin: 2px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.canvas {
  background: white;
  border: dodgerblue 2px solid;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.header {
  height: 30px;
}

.results {
  height: 110px;
}

.vertex {
  width: 100px;
  height: 500px;
}

.edge {
  width: 100px;
  height: 500px;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.dodger-blue {
  background-color: dodgerblue;
}

.overflow {
  overflow: auto;
}

.none-list-style {
  list-style: none;
}

.height-100 {
  height: 100px;
}

.height-500 {
  height: 500px;
}

.width-50 {
  width: 50px;
}

.under {
  color: dodgerblue;
  background: white;
}

.light-blue {
  background: lightblue;
}

.white {
  color: white;
}

#calc {
  flex: 1 1;
}
